.reservation-details {
    font-size: 12px;
    margin-top: 5px;
    padding: auto;
}

.reservation-details-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 10px;
    display:inline-block;
    /* border-color: #495EA8; */
    text-align: center;
    background-color: #d6d0e9;
    color: black;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.reservation-entry {
    /* Your styles for each reservation entry */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for the buttons within each reservation entry */
.reservation-entry .delete-btn,
.reservation-entry .cancel-btn {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Different colors for delete and cancel for clarity */
.reservation-entry .delete-btn {
    background-color: #ff6b6b;
}

.reservation-entry .cancel-btn {
    background-color: #ffe66d;
}

/* Modal container styles */
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* High z-index to make sure it's on top of other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default */
}
