html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.flipped-image {
    transform: scaleX(-1);
}

h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 60px;
    margin-left: 5px;
    margin-top: 10px;
    color: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #495EA8, #A29CAF);
    color: #fff;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 150px;
    height: auto;
}

.header-title {
    width: 450px;
    height: auto;
}

header h1 {
    color: #fff;
    margin-left: 10px;
}

av {
    /* background-color: #5e08ff; */
    background-color: #0d092c44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* border-bottom: 2px solid #040d46; Specify width, style, and color */
    border-radius: 5px; /* Adjust if you want rounded corners */
}

.logo-container {
    display: flex; /* Aligns the images next to each other without space */
}

.nav-items {
    display: flex;
    margin-right: 30px;
}

.nav-item {
    margin-left: 40px; /* Adds space between navigation items */
    color: white; /* Change font color */
    font-weight: bold; /* Make text bold */
    font-family: Arial, sans-serif; /* Set the font, with a fallback */
    margin-top: 0px;
    font-size: 20px;
    cursor: pointer;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ddd;
}

h1, h2 {
    color: #fff;
}

h3 {
    font-family: 'Tahoma';
    font-size:40px;
    color: #000000;
}

footer {
    background-color: #B8D3DA;
    color: #fff;
    text-align: center;
    margin-top: auto;
}

section {
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.recover-link {
    color: #539CC9;
    font-size: 12px;
    text-decoration: none;
    margin-top: 20px;
}

label {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

    button:hover {
        background-color: #2F7232;
    }

#enterOTPSection {
    display: none;
}
