@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .header-content {
            display: flex;
            align-items: center;
        }

        .flipped-image {
            transform: scaleX(-1);
        }

        h1 {
            font-family: 'Georgia', sans-serif;
            font-size: 60px;
            margin-left: 5px;
            margin-top: 10px;
            color: #fff;
        }

        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to bottom, #495EA8, #A29CAF);
            color: #fff;
            display: flex;
            flex-direction: column;
        }

        header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-logo {
            width: 150px;
            height: auto;
        }

        .header-title {
            width: 450px;
            height: auto;
        }

        header h1 {
            color: #fff;
            margin-left: 10px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

            nav a {
                color: #fff;
                text-decoration: none;
                margin: 0 15px;
                cursor: pointer;
                font-weight: bold;
                font-size: 18px;
            }

        h1, h2 {
            color: #fff;
        }

        footer {
            background-color: #B8D3DA;
            color: #fff;
            text-align: center;
            margin-top: auto;
        }

        section {
            margin-bottom: 20px;
        }

        .form-container {
            background-color: #fff;
            border-radius: 5px;
            padding: 40px;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 75px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .recover-link {
            color: #539CC9;
            font-size: 12px;
            text-decoration: none;
            margin-top: 20px;
        }

        label {
            color: black;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
            padding: 10px;
        }

        input {
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            padding: 10px;
            margin-top: 10px;
        }

            button:hover {
                background-color: #2F7232;
            }

        #enterOTPSection {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <div>
                <img src="/images/sslogo.png" alt="Logo" class="header-logo flipped-image">
            </div>
            <div>
                <img src="/images/ssname.png" alt="Title" class="header-title">
            </div>
        </div>
        <nav>
            <a href="#">About</a>
            <a href="#">Register</a>
            <a href="#">Login</a>
        </nav>
    </header>

    <section id="sendOTPSection" class="form-container">
        <form id="sendOTPForm">
            <label for="userIdentity">Login to SpaceSurfers</label>
            <input type="text" id="userIdentity" name="userIdentity" required placeholder="Enter your username">
            <button type="button" onclick="sendOTP()">Send Verification</button>
            <a href="#" class="recover-link">Recover an account</a>
        </form>
    </section>

    <section id="enterOTPSection" class="form-container" style="display: none;">
        <form id="enterOTPForm">
            <label for="otp">Enter Verification Code</label>
            <input type="text" id="otp" name="otp" required placeholder="Verification code">
            <button type="button" onclick="authenticateUser()">Login</button>
        </form>
    </section>

    <section id="successResult" class="form-container" style="display: none;">
        <label style="color:#03fc52; font-size: 18px;">Authentication was successful!</label>
    </section>

    <section id="failResult" class="form-container" style="display: none;">
        <label style="color: #e33434; font-size: 18px;">Incorrect verification code. Please double-check and try again.</label>
    </section>

    <footer>
        <p>Designed and Developed by the PixelPals Team</p>
    </footer>
</body>
</html>

<script>
    function sendOTP() {
        var userIdentity = document.getElementById("userIdentity").value;

        $.ajax({
            url: '/api/auth/sendOTP',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ userIdentity: userIdentity }),
            success: function (response) {
                var otp = response.otp;

                var otpWindow = window.open('', '_blank', 'width=400,height=200');
                otpWindow.document.write('<h2>Your OTP:</h2><p>' + otp + '</p>');

                document.getElementById("sendOTPSection").style.display = "none";
                document.getElementById("enterOTPSection").style.display = "block";
            },
            error: function (xhr, status, error) {
                alert('Error sending verification code.');
            }
        });
    }

    function authenticateUser() {
        var otp = document.getElementById("otp").value;
        var userIdentity = document.getElementById("userIdentity").value;

        $.ajax({
            url: '/api/auth/authenticate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ userIdentity: userIdentity, proof: otp }),
            success: function (response) {
                document.getElementById("enterOTPSection").style.display = "none";
                document.getElementById("successResult").style.display = "block";
                document.getElementById("failResult").style.display = "none";
            },
            error: function (xhr, status, error) {
                document.getElementById("enterOTPSection").style.display = "none";
                document.getElementById("successResult").style.display = "none";
                document.getElementById("failResult").style.display = "block";
            }
        });
    }
</script>
